{% extends 'base.html' %}

{% block head %}
    <title>Task Master - Sign Up</title>
{% endblock %}

{% block body %}
    <h3><a href="/" style=" margin: 20px; color: black">Home</a></h3>
    <h1 align="center">Welcome back to Task Master</h1>
    <div align="center">
        <form action="/login" method="post">
            <div style="margin-top: 10px">
                {{ form.email() }}
            </div>
            <div style="margin-top: 10px">
                {{ form.password() }}
            </div>
            <div style="margin-top: 10px">
                {{ form.submit() }}
            </div>
        </form>
        <p style="margin-top: 20px; margin-right: 10px;">Create a new Account
            <button><a href="{{ url_for('register') }}">Sign Up</a></button></p>
    </div>
{% endblock %}