{% extends 'base.html' %}

{% block head %}
    <title>Task Master - Login</title>
{% endblock %}

{% block body %}
    <h3><a href="/" style="margin:20px; color: black">Home</a></h3>
    <div align="center">
    <h1 align="center">Welcome to Task Master..!!</h1>
        <form action="/register" method="POST">
            {{ form.hidden_tag() }}
                <legend style="margin: 15px; font-size: 20px">Join Today</legend>
            <div style="margin-top: 10px">
                {{ form.username() }}
            </div>
            <div style="margin-top: 10px">
                {{ form.email() }}
            </div>
            <div style="margin-top: 10px">
                {{ form.Date_Of_Birth() }}
            </div>
            <div style="margin-top: 10px">
                {{ form.password() }}
            </div>
            <div style="margin-top: 10px">
                {{ form.confirm_password() }}
            </div>
            <div style="margin-top: 10px">
                {{ form.submit() }}
            </div>
        </form>
        <p style="margin-top: 20px; margin-right: 10px;">Already Have an account
            <button><a href="{{ url_for('login') }}">Login</a></button></p>
    </div>
{% endblock %}